/.husky/pre-commit
/.husky/commit-msg
/.idea
/.phpunit.cache
/.vscode
/.well-known
/node_modules
/public/build
/public/storage
/public/hot
/public/.htaccess
/resources/js/ziggy.js
/storage/*.key
/storage/app/redlists/ifli.xlsx
/storage/app/redlists/redlist.xlsx
/storage/app/public/img/third-party-verified.svg
/storage/app/public/program-logos/pBYwc5ejwe2MNrbQQj5veL4YbtkFLmeW5plGBmSY.svg
/storage/debugbar
/vendor
npm-debug.log
.DS_Store
.env
.env.production.ci
.env.stage.ci
composer.lock
Docker.sh
Dockerfile
docker-compose.yaml
package-lock.json
_ide_helper.php